<!DOCTYPE html>
<html ng-app='example'>
<head>
  <title>Item Listings</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<!--bootstrap.min.css-->
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<!--custom css : style.css-->
<link rel="stylesheet" type="text/css" href="style.css">

  <!-- TODO add manifest here -->
  <link rel="manifest" href="/manifest.json">
  
  <!-- Add to home screen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Weather PWA">
  
  <link rel="apple-touch-icon" href="images/icons/icon-152x152.png">
  <meta name="msapplication-TileImage" content="images/icons/icon-144x144.png">
  <meta name="msapplication-TileColor" content="#2F3BA2">

</head>
<!--use of ng-controller-->
<body ng-controller="StoreController as store">
	<h2 style="text-align:center;">Item Listing & Reviews</h2>
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="product in store.products"> <!--ng-repeat-->
			<h3> 
				<product-title></product-title>	<!--use of directive-->
			</h3>
			<section ng-controller="PanelController as panel">
			<div class="span12 text-center">
				<ul class="nav nav-pills">
					<li ng-class="{ active: panel.isSelected(1)}">
					 <a href ng-click ="panel.selectTab(1)"> Description </a></li>

					<li ng-class="{ active:panel.isSelected(2)}">
					<a href ng-click ="panel.selectTab(2)"> Specifications </a></li>
					
					<li ng-class="{ active:panel.isSelected(3)}">
					<a href ng-click ="panel.selectTab(3)"> Ratings & Reviews </a></li>
				</ul>
				</div>
			<div class="panel"ng-show="panel.isSelected(1)">
				<h4>Discription</h4>
				<p> {{  product.description }} </p>				
			</div>
			<div class="panel"ng-show="panel.isSelected(2)" ng-repeat="spec in product.spec">
				<h4>Specifications</h4>
				<div> Engine Type {{  spec.engineType }} </div>	
				<div> Fuel Economy {{  spec.fuel }} </div>							
			</div>
			<div class="panel"ng-show="panel.isSelected(3)">
				<h4>Ratings & Reviews</h4>
				<div ng-repeat="reviews in product.review">
				<b> Ratings : {{reviews.stars}} </b><br><br/>
				<p>{{reviews.body}}</p><br>
				By : {{reviews.author}}<br><hr>
				</div>

				<review-form></review-form>
			</div>
			</section>	
		</li>
	</ul>
<div>

<!-- <button ng-show="store.product.canPurchase"> Add to Cart</button> -->

</div> 
<!--angular.min.js-->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<!--custom js : app.js-->
<script type="text/javascript" src="app.js"></script>

  <div class="loader">
    <svg viewBox="0 0 32 32" width="32" height="32">
      <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
    </svg>
  </div>

  <!-- Uncomment the line below when ready to test with fake data -->
  <script src="scripts/app.js" async></script>

</body>

</html>
