

.ng-invalid.ng-dirty {

	border-color: #FA787e;
}

.ng-valid.ng-dirty{

	border-color: #78FA89;
}

.center-pills{

	display: inline-block;
}

/*css*/
.nav li a {
  display: block;
  font-size: 12px;
  padding: 5px 7px;
  position: relative;
}
h2{font-size:24px;}
h3{font-size:20px;}
.panel{margin:20px 0;}