<form name="reviewForm" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>

	<h4>Preview</h4>
	<div>
		<b> Ratings : {{reviewCtrl.review.stars}} </b><br>
		<p>{{reviewCtrl.review.body}}</p><br>
		By : {{reviewCtrl.review.author}}<br/><br/>
	</div>
	<select ng-model="reviewCtrl.review.stars" class="form-control" required>
		<option value="1" selected="selected"> 1 Star </option>
		<option value="2"> 2 Star </option>
		<option value="3"> 3 Star </option>
		<option value="4"> 4 Star </option>
		<option value="5"> 5 Star </option>
	</select><br>

	<textarea ng-model="reviewCtrl.review.body" class="form-control" placeholder="Comment Here" required></textarea><br>
	<input ng-model="reviewCtrl.review.author" type="email" class="form-control" placeholder="Enter Email" required> </input><br>
	<input type="submit" class="btn btn-primary" value="Submit"> </input>

</form>